.header-box{
   background: #014E56;
}
.header-content{
   display: flex;
   align-items: center;
   padding: 50px 0px;
}
.logo-link:active{
   opacity: 0.7;
}
.header-list{
   margin: 0;
   padding: 0;
   margin-left: 80px;
   display: flex;
}
.header-item + .header-item{
   margin-left: 40px;
}
.header-link{
   font-weight: 600;
   font-size: 18px;
   line-height: 156%;
   color: #FFFFFF;
   &:active{
      color: #F67E7E;
   }
}
.contact-link{
   width: 100%;
   text-align: center;
   max-width: 156px;
   padding: 9px 9px;
   font-weight: 600;
   font-size: 18px;
   line-height: 156%;
   color: #FFFFFF;
   border: 2px solid #FFFFFF;
   border-radius: 24px;
   margin-left: auto;
   &:active{
      color: #002529;
      background: #FFFFFF;
   }
}
.burger-btn{
   display: none;
   background-color: #014E56;
   border: none;
   color: #fff;
   width: 20px;
   margin-left: auto;
}

@media only screen and (max-width: 800px){
   .contact-link{
      max-width: 130px;
   }
}


@media only screen and (max-width: 580px){
   .contact-link{
      max-width: 120px;
   }
   .header-list{
      margin-left: 50px;
   }
}


@media only screen and (max-width: 576px){
   .header-list{
      display: none;
   }
   .contact-link{
      display: none;
   }
   .burger-btn{
      display: inline-block;
      font-size: 20px;
   }

}